.search__input-wrap {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .search__input-wrap {
    position: relative;
    width: 100%;
    height: 56px;
  }
}

@media (min-width: 1440px) {
  .search__input-wrap {
    position: relative;
    width: 100%;
    height: 64px;
  }
}
