@import url(__wrap/search__wrap.css);
@import url(__hint/search__hint.css);
@import url(__heading/search__heading.css);
@import url(__input/search__input.css);
@import url(__input-wrap/search__input-wrap.css);

.search {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px 16px 32px;
}

@media (min-width: 768px) {
  .search {
    padding: 40px 0 48px;
  }
}

@media (min-width: 1440px) {
  .search {
    padding: 80px 0;
  }
}
