@import url(__data/card__data.css);
@import url(__heading/card__heading.css);
@import url(__about-developer/card__about-developer.css);
@import url(__name/card__name.css);
@import url(__mail/card__mail.css);
@import url(__image/card__image.css);

.card {
  box-sizing: border-box;
  width: 288px;
  height: 264px;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  color: #1a1b22;
  text-decoration: none;
}

@media (min-width: 768px) {
  .card {
    width: 336px;
    height: 242px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 400px;
    height: 288px;
  }
}
