.table__scale {
  display: none;
}

@media (min-width: 768px) {
  .table__scale {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #b6bcbf;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }
}
