@import url(__item/results__item.css);

.results__navbar {
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  letter-spacing: 0.2px;
  display: none;
}

@media (min-width: 768px) {
  .results__navbar {
    display: block;
    margin-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .results__navbar {
    margin-bottom: 80px;
  }
}
