@import url("__logo/navbar__logo.css");
@import url("__navigation/navbar__navigation.css");
@import url("_black/navbar_black.css");
@import url("__button/navbar__button.css");
@import url("__button/navbar__button_active.css");

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
