.content__grid-item {
  height: 460px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .content__grid-item {
    height: 420px;
  }
}
@media (min-width: 1440px) {
  .content__grid-item {
    height: 576px;
  }
}
