@import url(__heading/content__heading.css);
@import url(__grid/content__grid.css);

.content__wrap {
  width: 288px;
  margin: auto;
  padding: 32px 16px 0;
}

@media (min-width: 768px) {
  .content__wrap {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .content__wrap {
    width: 100%;
    padding: 0;
  }
}
