.content__grid-data {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 16px 17px;
}

@media (min-width: 768px) {
  .content__grid-data {
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .content__grid-data {
    margin: 0 24px 12px;
  }
}
