@import url(__wrap/content__wrap.css);
@import url(__heading/content__heading.css);
@import url(__grid/content__grid.css);
@import url(__grid-item/content__grid-item.css);
@import url(__grid-data/content__grid-data.css);
@import url(__grid-heading/content__grid-heading.css);
@import url(__grid-image/content__grid-image.css);
@import url(__grid-source/content__grid-source.css);
@import url(__grid-text/content__grid-text.css);
@import url(__result/content__result.css);

.content {
  background-color: #f5f6f7;
}

@media (min-width: 768px) {
  .content {
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .content {
    padding: 80px 140px;
  }
}
