@import url(__date/commit-card__date.css);
@import url(__heading/commit-card__heading.css);
@import url(__message/commit-card__message.css);
@import url(__profile-name/commit-card__profile-name.css);
@import url(__profile-email/commit-card__profile-email.css);
@import url(__profile-pic/commit-card__profile-pic.css);

.commit-card {
  box-sizing: border-box;
  width: 288px;
  height: 264px;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  color: #1a1b22;
  text-decoration: none;
}

@media (min-width: 768px) {
  .commit-card {
    padding: 24px;
    width: 336px;
    height: 242px;
  }
}

@media (min-width: 1440px) {
  .commit-card {
    width: 400px;
    height: 288px;
  }
}
